@import "tailwindcss";

@theme {
  --color-primary: #1883ff;
  --color-pr-light: #e3f2ff;
  --color-pr-dark: #042e7b;
  --color-secondary: #004ee0;
  --color-sd-light: #99caff;
  --color-sd-dark: #0a1e3c;
}